div.site-heading span.subheading {
    font-size: 1.5em !important;
    font-family: 'Martel', serif;
}

div.site-heading span.subheading, div.site-heading h1, nav, .navbar,div.post-heading {
    text-shadow: 1px 1px 1px #000;
    font-family: 'Martel', serif;
}
div.post-preview .post-content-preview{
    color: #464646;
}
#huxblog_navbar ul li a, nav.navbar div.container-fluid div.navbar-header a.navbar-brand{
    font-size: 19px;
}
body {
    background-color: #f9f9f9;
    /* color: #fff; */
    font-size: 1.9em;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4,h5, h6 {
    font-family: 'Martel', serif;
}

.navbar-custom.is-fixed .navbar-brand,.navbar-custom.is-fixed .nav li a {
    text-shadow: none;
}
div.sidebar-container div.tags a, div.sidebar-container {
    color: #464646 !important;
}
/* .post-preview>a {
    color: #fff;
} */

.success {
    display: none;
    background: #E1F8ED;
    padding: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.is-active {
    display: block;
    background: #E1F8ED;
    padding: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}